
body{
    background-color: black;
    color:white;
}

.timetracker{
    margin: 10px;
}

ol{
    list-style: none;
    width:100%;
    background-color: #aaaaaa;
    padding: 0px;
    -webkit-border-radius:8px;
    padding: 2px 4px 2px 4px;
}

ol li{
    border: solid 1 px #444444;
    background-color: #dddddd;
    color:black;
    font-weight: bold;
    padding:15px 10px 15px 10px;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
    -webkit-border-radius: 8px;
}

ol li a{
    color:black;
}

.activeTask {
    background-color:green;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

div#doAddTask{
    width:100%;
    padding:10px 10px 10px 10px;
    margin: 4px 0px 4px 0px;
}

#addTask{
    margin-top: 10px;
}

li#addTask input, li#addTask select{
    width:100%;
    margin:4px 0px 4px 0px;
}

.menu{
    margin:10px 0px 4px 0px;
}