
body{
    background-color: black;
    color:white;
    font-size: 200%;
}

h1 {
    font-size: 100%;
}

.timetracker{
    margin: 10px;
}

ol.taskList{
    list-style: none;
    background-color: #aaaaaa;
    padding: 0px;
    -webkit-border-radius:8px;
    padding: 2px 4px 2px 4px;
}

ol.taskList li{
    border: solid 1 px #444444;
    background-color: #dddddd;
    color:black;
    font-weight: bold;
    padding:20px 10px 20px 10px;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
    -webkit-border-radius: 8px;
}

ol.taskList li p{
    padding: 0px;
    margin: 0px;
}

ol.taskList li a{
    color:black;
}

ol.taskList .activeTask {
    background-color:green;
    color:white;
}

a {
    color:white;
    text-decoration: none;
}

div#doAddTask{
    margin-top:10px;
    padding:20px 10px 20px 10px;
    /*margin: 4px 0px 4px 0px;*/
    background-color: #aaaaaa;
    -webkit-border-radius: 8px;
}

#addTask{
    margin-top: 20px;
}

li#addTask input, li#addTask select{
    width:100%;
    margin:4px 0px 4px 0px;
    border:none;
}

.menu{
    margin:20px 0px 4px 0px;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 60px;
    background-color: black;
}

#timetracker{
    margin-top: 62px;
}

#menuButton{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#menu{
    position:fixed;
    right:10px;
    width: 300px;
    background-color: black;
}

#menu ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ol li{
    margin: 0px;
    padding: 14px 10px 14px 10px;
    background-color: black;
    color:white;
    border-top: solid 1px white;
    font-weight: normal;
}

#menu ol li.first{
    border-top: solid 1px black;
}